@import "../../StyleGlobal.scss";

.componentPagination {
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  gap: 15px;

  .numberPagination {
    font-family: $fontCard;
    font-size: 45px;
    color: white;
  }

  .buttonBack {
    height: 35px;
    background-color: transparent;
    display: flex;
    align-items: center;

    &[disabled] {
      opacity: 0;
    }

    img {
      height: 35px;
      transform: rotate(180deg);
      cursor: pointer;
    }
  }

  .buttonNext {
    height: 35px;
    background-color: transparent;

    &[disabled] {
      opacity: 0;
    }

    img {
      height: 35px;
      cursor: pointer;
    }
  }
}
