@import "../../StyleGlobal";

.HomeContainer {
  @media (max-width: 885px){
    grid-template-columns: repeat(3,1fr);
  }

  @media (max-width: 670px){
    grid-template-columns: repeat(2,1fr);
  }

  @media (max-width: 465px){
    grid-template-columns: repeat(1,1fr);

  }
  .card {
    max-width: 320px ;
  }

  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 24px;
  padding: 32px;

  .ImageCharacter {
    width: 160px;
    border-radius: 50%;
  }

  .nameCharacter{
    font-family: $fontCard;
    color: #FFFFFF;
  }

}

.ImageModal{
  border-radius: 50%;

}