@import "../../StyleGlobal";


 header {
   display: flex;
   max-width: 100%;
   overflow-x: hidden;
   height: 201px;
   background-color: #0C1440;
   padding: 15px;


    .logoMain{
      height: 201px;
      width: auto;
    }

    .TextMain {
      font-family: 'Comic Sans MS Bold', arial;
      color: #FFFFFF;
      position: relative;
      left: 15rem;
      margin-top: 5px;
      height: 15px;
    }
 }  
