@import "../../StyleGlobal";

 header {
   display: flex;
   gap: 15px;
   width: 100%;
   padding-left: 15px;
   background-color: #0C1440;

    .logoMain{
      height: 160px;
      width: auto;
    }

    .TextMain {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 30px 15px 0px;
      width: 100%;
      font-family: 'Comic Sans MS Bold', arial;

      .filterArea{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px
      }
    }
 }  
