@import "./variaveis/fonts";

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

#root, html, body {
  height: 100%;
  width: 100%;
}

body{
  background-color: #0C1440;
}

ol, ul { 
  list-style: none;
}

.white {
  color: white;
}

.MuiDialogContent-root {
  background: #6034BF; 
}

.MuiPaper-rounded {
  border-radius: 20px !important;
}